In [28]:
# Passo 1 - Importar a base de dados
import pandas as pd

tabela = pd.read_csv("cancelamentos.csv")

In [29]:

# Passo 2 Verificamos as colunas inuteis para excluir. Informação que não te ajuda, te atrapalha

tabela = tabela.drop(columns="CustomerID")
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [30]:
# Passo 3 Informações vazias ou no formato errado
tabela = tabela.dropna()
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB
None

In [31]:
# Passo 4 Análise do cancelamento - quantos cancelaram e quantos não cancelaram
display(tabela["cancelou"].value_counts())

# em percentual
display(tabela["cancelou"].value_counts(normalize=True))

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

cancelou
1.0    0.567105
0.0    0.432895
Name: proportion, dtype: float64

In [ ]:
# Passo 5 Analise das causas do cancelamento
import plotly.express as px

for coluna in tabela.columns:
    # cria o grafico
    grafico = px.histogram(tabela, x = coluna, color = "cancelou", text_auto=True)

    # exibe o grafico
    grafico.show()

Analises feitas através dos gráficos:
1. Todos os clientes do contrato mensal cancelaram.
    Solução: Dar desconto nos contratos anuais e trimestrais
2. Todos os clientes com mais de 20 dias de contrato cancelaram
    Solução: Criar um sistema de controle de cobrança que com 10 dias de atraso a empresa entre em contato.
3. Todos os clientes que ligaram mais de 4x pro call center, cancelaram
    Soluçao: Fazer um trabalho diferenciado no call center, procurando deixar o cliente mais satisfeito. Entrar em contato com o cliente após o mesmo entrar 2x no call center, para entender sua insatisfação e resolver seu problema.

In [37]:
# Passo 6 Se eu resolver os 3 problemas a cima, quanto cai o cancelamento 

# Contrato mensal
tabela = tabela[tabela["duracao_contrato"]!="Monthly"]
display(tabela["cancelou"].value_counts(normalize=True))

# atrasos so podem ser até 20 dias
tabela = tabela[tabela["dias_atraso"]<= 20]
display(tabela["cancelou"].value_counts(normalize=True))

# Clientes só podem ligar até 4x no call center
tabela = tabela[tabela["ligacoes_callcenter"]<= 4]
display(tabela["cancelou"].value_counts(normalize=True))

cancelou
0.0    0.641018
1.0    0.358982
Name: proportion, dtype: float64

cancelou
0.0    0.641018
1.0    0.358982
Name: proportion, dtype: float64

cancelou
0.0    0.816024
1.0    0.183976
Name: proportion, dtype: float64